.cartWidget{
    position: relative;
    z-index: -1;
}

.cartWidget__total-items{
    font-size: 1.6rem;
    position: absolute;
    background-color: rgba(245, 94, 67, 0.829);
    width: 20px;
    height: 17px;
    border-radius: 15px;
    line-height: 0.9;
    text-align: center;
    transform: translate(-50%, -50%);
    top: -6%;
    left: 97%;
}

.cartWidget__icon-cart{
    font-size: 2.6rem;
    cursor: pointer;
}